VITE_WHO_BASE=https://ghoapi.azureedge.net/api
VITE_DISEASE_BASE=https://disease.sh/v3
VITE_WB_BASE=https://api.worldbank.org/v2
VITE_FDA_BASE=https://api.fda.gov
VITE_PUBCHEM_BASE=https://pubchem.ncbi.nlm.nih.gov/rest/pug
VITE_RXNORM_BASE=https://rxnav.nlm.nih.gov/REST
VITE_CHEMBL_BASE=https://www.ebi.ac.uk/chembl/api/data
